<!-- page title -->
<section class="page-title position-relative overflow-hidden">
  <div class="">
    <div class="">
      <div class="col-lg-11 padding-hero">
        {{ if isset .Params "subject" }}
          <div class="secondary-title">{{.Params.subject}}</div>
        {{ end }}
        <h1 class="">{{.Title}}</h1>
        {{ if .IsPage }}
          <p class="font-secondary">{{ .PublishDate.Format "Jan 02, 2006" }}</p>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->
